@charset "UTF-8";

@media screen and (max-width: 800px) {
	/* 독후감 이미지 */
	.content_content img{
		width:80% !important;
	}
	iframe{
		width:100% !important;
	}
	/*작성 정보*/
	.content_info {
		display: inline-block !important;
		width:100% !important;
	}
	
	div.comment-write {
		padding : 20px !important;
	}
	
	div.row.justify-content-md-center {
		/*padding: 0 !important;*/
		margin-left: 0px !important;
		margin-right: 0 !important;
		max-width: 100% !important;
	}
	
	div.mWidth.col-xl-9 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	/*div.content_content.p-3 {
		max-width: 100% !important;
		height: auto !important;
		display: block !important;
	}
	
	div.content_content.p-3 p {
		max-width: 100% !important;
		height: auto !important;
	}*/
	
	
	/*댓글*/
	
	h5 {
		margin-left: 16px !important;
	}
	
	img.imguser {
		width: 50px !important;
	}
	
	div.p-4.img-wrap.shadow-sm {
		padding: 10px !important;
	}
	
	div.p-3 {
		padding-left: 5 !important;
		padding-right: 5 !important;
	}
	
}

.title{
	border-top: 1.5px solid var(--main-color);
	color:#393939;
}
.content_info{
	display: flex;
	border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
}
.content_info span{
	width:35%;
}
.content_content{
	border-bottom: 1px solid #D5D5D5;
}
.btn-outline-secondary{
	float:right;
	border-radius: 0 !important;
	border-color: var(--main-color) !important;
	color : var(--main-color) !important;
}
.btn-outline-secondary:hover{
	background-color: var(--main-color) !important;
	color : white !important;
}
.btn-outline-secondary:active{
	border-color: var(--main-color) !important;
}
.btn-outline-secondary:focus {
  box-shadow: none !important;
  outline: none !important; 
}
.userInfo{
	width: 10%;
}
.img-wrap{
	justify-content: center;
	align-item: center;
	border: 1px solid #D5D5D5;
	border-radius: 80px; 
}
.userInfo img {
	width: 70px;
}
.comment-date{
	color:#949494;
	font-size: 13px;
}
.comment{
	font-size: 15px;
}
.comment-write{
	display: flex;
	position: relative;
	top: 70px;
}
.comments{
	position: relative;
	top: 70px;
}
.comment-write textarea{
	width: 90%;
	resize:none;
}
.comment-write button{
	background-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
	width:10%;
	min-width:85px;
	white-space: nowrap;
}
.comments thead{
	display: none;
}
.content_content{
	min-height: 300px;
}
.alink a:hover{
	color: #424242;
	text-decoration: underline;
}
.alink a:link { color: #424242;}
.alink a:visited { color: #424242; text-decoration: none;}