
@media screen and (max-width: 800px) {
	
	.goWriteBookDiary{
		padding-bottom: 160px !important;
	}
	
	.diIcon {
		display: inline-block !important;
		width:100% !important;
		text-align: center !important;
		padding-right: 0 !important;
	}
	
	.diText {
		display: inline-block !important;
		position: absolute !important;
		padding-right : 1.5rem !important;
		padding-left : 1.5rem !important;
		margin-left: 0 !important;
		margin-top: 120px !important;
	}
	
	.diBt {
		position: relative !important;
		bottom: -150px !important;
	}
	
	/*.diT {
		position: relative !important;
		top: 0 !important;
	}*/
	
}

.main-title {
	font-size: 1.8em;
}

.main-title i {
	color: var(--main-color);
}

.main-content {
	padding-top : 30px;
}

button {
	border: none;
	background: none;
	text-align: left;
	padding: 0px;
}

button:focus,
button:active {
	box-shadow: none;
	outline: none;
}

.goWriteBookDiary {
	display: flex;
	flex-flow: row-reverse;
	align-content: center;
	padding: 20px;
	justify-content: center;
	background-color: var(--main-color-light);
}

.goWriteBookDiary img {
	width: 250px;
}

.goWriteBookDiary .text {
	display: flex;
	flex-flow: column-reverse;
	justify-content: center;
	margin-left: -30px;
}

.goWriteBookDiary p {
	padding-top: 20px;
	margin-bottom: 0px;
}

.goWriteBookDiary a {
	color: var(--main-color-dark);
	background-color: #fff;
	border-radius: 30px;
	font-size: 0.45em;
	padding: 5px 15px;
	border: 1px solid var(--main-color-dark);

	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;

}

.goWriteBookDiary a:hover {
	text-decoration: none;
	color: #fff;
	background-color: var(--main-color-dark);
	border: none;
}

.sort {
	margin: 10px 20px;
	border: none;
	float: right;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 20px;
}

.pagination a,
.pagination button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 7px 12px;
	font-size: 13px;
	font-weight: 500;
	color: var(--main-color-dark);
	text-decoration: none;
}

.pagination > a:first-child {
	border-radius: 3px 0 0 3px;
}

.pagination > a:last-child {
	border-radius: 0 3px 3px 0;
}

.pagination ol button {
	background-color: #fff;
	border: none;
}

.pagination ol {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	list-style-type: none;
	background-color: #fff;
}

.pagination li {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 32px;
	border-right: 1px solid #e1e4e8;
	font-size: 13px;
	font-weight: 500;
	color: #0366d6;
}

.pagination li.disabled {
	background-color: #fafbfc;
}

.pagination li.current-page {
	border-color: var(--main-color-dark);
	background-color: var(--main-color-dark);
}

.pagination li.current-page a {
	color: #fff;
}

.pagination *[disabled],
.pagination .disabled {
	color: #d1d5da;
	background-color: #fafbfc;
}
