@media screen and (max-width: 800px) {
	
	#body-sub {
		padding: 10% !important;
	}
	
	#userinfo {
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	
	/*#reading {
		padding-right: 15% !imortant;
	}*/
	
	#forum {
		margin: 0 !important;
	}
	
	.btom {
		height: 5px !important;
	}
	
	#calendar-view {
		margin:0 !important;
	}
	
	#quick-menu {
		height: 150px !important;
	}
	
	#qitem1 {
		font-size: 15px !important;
		position: absolute !important;
		left: -3% !important;
	}
	#qitem2 {
		font-size: 15px !important;
		position: absolute !important;
		left: 22% !important;
	}
	#qitem3 {
		font-size: 15px !important;
		position: absolute !important;
		right: 22% !important;
	}
	#qitem4 {
		font-size: 15px !important;
		position: absolute !important;
		right: -3% !important;
	}
	
	#texth1 {
		font-size: 1.5em !important;
	}
	
}

#carousel-item-new {
    background: #3A1C71;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#carousel-item-pick {
    background: #00467F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#carousel-item-best {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.carousel-text {
    display: flex;
    width: 250px;
}

.carousel-text div {
    align-self: flex-end;
}


.img-cover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

#userinfo-img {
    background: #fff;
    padding: 15px;
}

#userinfo-name p {
    font-size: 1.15em;
}

#userinfo-btn button {
    font-size: 0.7em;
    width: 90px;
    padding: 7px;
    border-radius: 40px;
    background-color: rgba(108, 88, 179, 0.75);
    color: #fff;
}

#userinfo {
    border-top: 3px solid #ee5522;
    text-align: center;
}

#userinfo-status {
    width: auto;
}

#status-emoji {
    font-size: 2em;
}

#userinfo-history {
    text-align: center;
}

#userinfo-history .col {
    font-size: 0.9em;
    margin: 0px 2px 0px 2px;
    padding: 0px 10px 0px 10px;
}

#userinfo-history .col:nth-child(2) {
    border-left: 1px #f1f3f4 solid;
    border-right: 1px #f1f3f4 solid;
}

#userinfo-history .history-num {
    margin-top: -10px;
    font-size: 1.5em;
}


#button-addon {
    color: #A593E0;
}

.con {
    background-color: #fff;
    padding: 20px;
}

.con-title {
    padding: 15px 10px 0px 10px;
    margin-bottom: 30px;
}

.tab-pane {
    height: 450px;
}

.book {
    display: flex;
    justify-content: center;
}

.shelf {
    z-index: 5;
    width: 100%;
    height: 20px;
    background-color: #fffff3;
}


.thumbnail_image {
    position: relative;
    width: 130px;
    left: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.thumbnail_image::before {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, transparent 5%, transparent 95%, rgba(0, 0, 0, 0.2) 100%);

}

.thumbnail {
    width: 100%;
    max-height: 190px;
}


.border {
    box-sizing: border-box;
    opacity: 0.2;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    border: 1px solid #000;
}

#body-sub {
    margin-top: 70px;
}

#quick-menu {
    list-style: none;
    text-align: center;
}

#quick-menu li {
    display: inline-block;
    margin: 0px 45px;
}

#quick-menu li a {
    text-decoration: none;
}

.quick-menu-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 22px;
    background-color: gray;
    padding: 15px;
    color: #fff;
}

.forum {
    margin: 0px 20px;
    border-bottom: 1px solid lightgray;
}

.forum h1 {
    font-size: 1.5em;
    padding-top: 10px;
}

.forum a {
    position: relative;
    top: -30px;
    font-size: 1em;
    text-decoration: none;
}

.forum a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
