
@media screen and (max-width: 800px) {
	#login-form {
		width: 130% !important;
	}
	
	#wrapper {
		margin-left: 1% !important;
	}
	
	#div1 {
		padding: 1% !important;
		margin-right: -1% !important;
	}
	
	#div2 {
		margin: -5% !important;
		/*margin-right: -50% !important;*/
		margin-top: 10% !important;
	}
}

#wrapper {
	margin:50px 20%;
}

#submit-btn {
    background-color: #566270;
    color: #FFFFF3;
}

#login-form label {
    margin-top: 10px;
}

#btn-group a {
    margin: 0px 5px;
}

#btn-group span {
    font-size: 0.8em;
}

#btn-group a,
span {
    color: #337ab7;
}