@charset "UTF-8";

.row1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.table1{
	padding-top: 10px;
	padding-bottom: 10px;
}
img{
	margin-bottom: 10px;
}
.btns{
	text-align: center;
	padding-bottom: 10px;
}
#img-tab {
    margin-top: 40px;
    text-align: center;
}
.img-cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.img-wrapper {
    text-align: center;
}


#img-tab button {
    margin-top: 20px;
    padding: 7px 13px;
    border-radius: 10px;
    font-size: 1em;
    background: #fff;
}
.image-radio input[type="radio"] {
    display: none;
}

.image-radio-checked {
    box-shadow: 0 0 20px #A593E0;
    border-radius: 55px;
}

#imgPreview {
    padding: 15px;
}

#modal-img .img-cover {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#modal-img .col-sm {
    text-align: center;
    margin: 10px;
}

.withdraw:hover{
	color: #A593E0;
	text-decoration: none;
}
.withdraw:link { color: #A593E0; text-decoration: none;}
.withdraw:visited { color: #A593E0; text-decoration: none;}