@charset "UTF-8";
.linkA:hover{
	color: #A593E0;
	text-decoration: none;
}
.linkA:link { color: #A593E0; text-decoration: none;}
.linkA:visited { color: #A593E0; text-decoration: none;}

.loan{
	color: #146eff;
}
.return{
	color: #FF0000;
}
.img{
	text-align: center;
}
.overdate{
	color: #FF0000;
}