@charset "UTF-8";

.row1{
	
	padding-bottom: 10px;
}
.row2{
	border-top: 1px solid #c8c8c8;
	text-align: center;
	border-bottom: 1px solid #c8c8c8;
}

.row3{
	text-align: center;
	padding-top:15px;
}

.mypage a:hover{
	color: #424242;
	text-decoration: none;
}
.mypage a:link { color: #424242; text-decoration: none;}
.mypage a:visited { color: #424242; text-decoration: none;}

#img-tab {
    margin-top: 40px;
    text-align: center;
}

.img-cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.img-wrapper {
    text-align: center;
}
#imgPreview {
    padding: 15px;
}