@charset "UTF-8";
#content h1 {
	font-size: 2em;
}
.alink a:hover{
	color: #424242;
	text-decoration: underline;
}
.alink a:link { color: #424242;}
.alink a:visited { color: #424242; text-decoration: none;}

.table-notice-board th:nth-child(2) {
	width: 65%;
}
/* pagination css */
.dataTables_filter{
	color:white;
	float:right;
	margin-bottom:5px;
	 
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
th{
	white-space: nowrap;
}
.date{
	white-space: nowrap;
}

.table_div{
	position: relative;
	top:-15px;
}