@charset "UTF-8";

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#content {
	width: 100%;
	padding-top: 50px;
	padding-left: 50px;
}

#content h1 {
	font-size: 2em;
}

.table-notice-board {
	
}

.table-notice-board th:nth-child(2) {
	width: 70%;
}
/* pagination css */
.dataTables_paginate{
		margin-top: 7px;
		position: relative;
		right:45px;
}
.dataTables_filter{
	color:white;
	float:right;
	margin-bottom:5px;
	 
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
th{
	white-space: nowrap;
}