.main-title {
	font-size: 1.8em;
}

.main-title i {
	color: var(--main-color);
}

.main-content {
	padding-top : 30px;
}

img {
	width: 130px;
}

dt {
	display: none;
}

.reviewBox {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
	margin: 0 auto;
}

.bookCover {
	height: 200px;
	position: relative;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.bookCover .buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

.buttons .btn {
	border-radius: 8px;
	background-color: #fff;
	margin: 5px 0px;
	padding: 3px;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.buttons .btn:hover {
	background: var(--main-color-dark);
	color: #fff;
}

.buttons .btn:active {
	background: #fff;
	color: var(--main-color-dark);
}

.bookCover .show {
	visibility: visible;
}

.bookCover a {
	width: 100px;
	font-size: 0.8em;
}

.bookCover:hover {
	opacity: 0.8;
}

.main-context {
	background: none;
	border: none;
	text-align: left;
	padding: 0px 30px;
}

.main-context:hover {
	cursor: default;
}

.main-context:focus,
.main-context:active {
	box-shadow: none;
	outline: none;
}

.bookInfo {
	margin: 0;
}

.bookInfo dd {
	display: inline-block;
	margin: 0;
}

.bookInfo .title {
	font-weight: bold;
	font-size: 1.3em;
}

.bookInfo .author {
	vertical-align: bottom;
	font-size: 0.8em;
	color: gray;
}

.review .rating {
	font-size: 1.5em;
	color: var(--main-color);
}

.review .text {
	height: 80px;
	overflow: hidden;
}

.userInfo img {
	width: 35px;
}

.userInfo {
	align-self: flex-end;
	margin-bottom: 20px;
}
/*

.dropdown-menu::before {
	content: "";
	position: absolute;
	top: -18px;
	left: 10px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 9px solid #fff;
	border-right: 8px solid transparent;
}
*/
/*modal*/
.modal-content .close {
	text-align: right;
	margin: 0px 5px;
}

.review-header {
	display: flex;
}

.review-header .bookImg {
	width: 100px;
}

.review-header .text {
	display: flex;
	align-self: center;
	flex-flow: column;
	padding-left: 20px;
}

.review-header .book dd {
	display: inline-block;
	margin: 0px;
}

.review-header .book .title {
	font-size: 1.3em;
	font-weight: bold;
}

.review-header .book .author {
	vertical-align: bottom;
	font-size: 0.8em;
	color: gray;
}

.review-header .user img {
	width: 30px;
}

.review-header .user {
	color: #000;
	margin-top: -5px;
}

.review-header .rating {
	font-size: 1.5em;
	color: var(--main-color);
}

.review-text {
	padding: 10px 5px;
}
