@charset "UTF-8";

@media screen and (max-width: 800px) {
	
	#menuid {
		display: none !important;
	}
	
	#sidebar {
		/*min-width: auto !important;*/
		padding-top: 2rem !important;
		/*margin-right: 15rem !important;*/
	}
	
	#titleh1 {
		margin-bottom: 10% !important;
	}
	
	#titleh2 {
		font-size: 1.5em !important;
	}
	
	#ulid {
		width: 70% !important;
		margin-bottom: 0.5rem !important;
	}
	
	.sidebar-menu li {
		padding: 5px 0px !important;
		font-size: 1em !important;
	}
	
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #866ec7;
	color: #fff;
	transition: all .3s;
	align-self: flex-start;
}

.sidebar-header {
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

.sidebar-menu li {
	padding: 10px 0px;
	font-size: 1.2em;
}

.sidebar-menu li a {
	color: #fff;
	text-decoration: none;
}