/* 기본 css 리셋 */
header {
	background: #fff;
}

ul li {
    list-style: none;
}

ul li a {
    color: #000;
    opacity: 0.7;
    transition: all 0.3s ease-in;
}

ul li a:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

/* 스크롤 시 sticky */

.logo_sticky {
    font-family: 'Major Mono Display', monospace;
    font-size: 23px;
    opacity: 1;
    padding: 0px 5%;
    padding-top: 10px;
}

.logo_sticky:hover {
    color: #fff;
    text-decoration: none;
}

.sticky {
    display: flex;
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0px !important;
    background: var(--main-color);
    color: #fff;
}

.sticky a {
    color: #fff;
}

.sticky .dropdown-content a {
    color: #000 !important;
}

.sticky .dropdown:hover .dropdown-btn,
.sticky li a:hover {
    color: #fff;
    opacity: 1;
}

/* 로고 및 검색바 */
.logo_aria {
    display: flex;
    padding: 20px 50px;
    padding-top: 60px;
    justify-content: center;
}

.logo {
    opacity: 1;
    padding-right: 5%;
}

.logo h1 {
    color: var(--main-color);
    font-family: 'Major Mono Display', monospace;
}

.logo:hover {
    color: var(--main-color);
    text-decoration: none;
}

.search_bar {
    width: 60%;
    height: 50px;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.search_bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search_bar i {
    margin: 0px 10px;
    vertical-align: middle;
    color: var(--main-color);
}

.search_bar input {
    border: none;
    width: 80%;
    vertical-align: middle;
}

.search_bar input:focus,
.search_bar input:active {
    outline: none;
}

.user_tab {
    padding-left: 5%;
}

/* 네비게이션 메뉴 */
.main_nav {
    padding: 0px 10%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    transition: background 0.3s ease-in;
}

.main_nav ul:not(.dropdown-content) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main_nav li {
    padding: 15px 0px;
    min-width: 110px;
}

.main_nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fa-sort-down:before {
    position: relative;
    top: -3px;
    font-size: 15px;
}

/* 드롭 다운 */
.dropdown {
    position: relative;
}


.dropdown-content {
    display: none;
    flex-flow: column;
    position: absolute;
    z-index: 100;
    top: 54px;
    left: 0px;
    width: 150px;
    padding: 0px;
    background: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown-content li {
    padding: 0px;
}

.dropdown-content a {
    padding: 10px 15px;
    text-align: left !important;
    font-size: 15px;
}

.dropdown-content a:hover {
    background: var(--main-color);
    color: #fff !important;
}

.dropdown:hover .dropdown-btn,
.main_nav li a:hover {
    color: var(--main-color);
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.mobile_menu button:focus,
.mobile_menu button:active {
    border: 0;
    outline: 0;
}

.mobile {
    display: none;
}
/* 반응형 햄버거 메뉴 */
@media screen and (max-width: 760px) {
    .logo_sticky {
        padding-top: 5px;
    }

    .main_nav {
        padding: 0px;
        padding-bottom: 10px;
        height: 50px;
        background: var(--main-color);
    }

    .main_nav ul {
        justify-content: flex-end !important;
    }

    .main_nav li {
        display: none;
    }

    .main_nav li.mobile_menu {
        display: block;
        padding: 0;
        min-width: 0px;
        padding-right: 20px;
    }

    .main_nav li.mobile_menu button {
        color: #fff;
        padding-top: 10px;
        background: none;
        border: none;
    }

    .main_nav.responsive {
        position: relative;
        z-index: 100;
    }

    .main_nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive .mobile_menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .responsive ul:not(.dropdown-content) {
        display: block !important;
        background: var(--main-color);
    }

    .responsive li {
        background: var(--main-color);
    }

    .responsive .dropdown-content li a {
        color: #000;
        text-align: center;
    }

    .responsive .dropdown:hover .dropdown-btn {
        color: #fff;
        opacity: 0.5;
    }

    .responsive ul li a,
    .responsive .dropdown-btn {
        color: #fff;
        opacity: 1;
    }

    .responsive ul li a:hover,
    .responsive .dropdown-btn:hover {
        color: #fff;
        opacity: 0.7;
    }

    .responsive .dropdown:hover .dropdown-content {
        display: contents !important;
    }

    .responsive .dropdown-content li {
        background: #fff;
    }

    .responsive .dropdown-content li:hover {
        background: #fff !important;
        color: var(--main-color) !important;
    }

    .responsive li {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .search_bar {
        display: none;
    }
}
