
@media screen and (max-width: 800px) {
	
	.mainimg {
		width: 100% !important;
	}
	
	.pCon {
		margin-top: 18px !important;
		font-size: 14px !important;
	}
	
	.pCon small {
		font-size: 12px !important;
	}
	
	.tImgSize {
		font-size: 1.5rem !important;
	}
	
	.tImgSize a {
		padding-top: 6px !important;
		padding-bottom: 6px !important;
	}
	
	.applyForWishBook {
		background-size: 1650px !important;
	}
	
	.conLog p{
		text-align: center !important;
	}
	
	.conLog a{
		position: relative !important;
		left: 33% !important;
	}
	
	#wishTable {
		margin-left: 0 !important;
	}
	
	#wishTable th {
		font-size: 13px !important;
		padding: 6px !important;
		text-align: center !important;
	}
	
	.myApplyList{
		padding: 20px !important;
	}
	
	.howToApply{
		padding: 20px !important;
	}
	
	.tSize {
		font-size: 30px !important;
	}
	
	.howCon {
		padding: 0 20px !important;
	}
	
	.howToApply pre {
		padding: 0px 10px !important;
		
	}
	
}

img {
	width: 500px;
}

.applyForWishBook {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	align-content: center;
	text-align: center;
	background-image: url(/img/wishBookPage/wave.svg);
	background-size: 1880px;
	height: 100%;
	color: #fff;
}

.applyForWishBook h1 {
	padding-top: 0px;
	margin-bottom: 50px;
}

.applyForWishBook a {
	color: #5a38fd;
	background-color: #fff;
	border-radius: 30px;
	font-size: 0.5em;
	font-weight: 600;
	padding: 7px 20px;


	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;

}

.applyForWishBook a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #5a38fd;
	border: 1.5px solid #fff;
}

.applyForWishBook a:active {
	background-color: #fff;
	color: #5a38fd;
}

.applyForWishBook p {
	margin-bottom: 0px;
}

.myApplyList {
	padding: 50px 100px;
	display: flex;
	flex-flow: column;
}

.myApplyList h1 {
	margin-bottom: 50px;
}

.myApplyList h1::before {
	content: "| ";
	color: var(--main-color);
}

.myApplyList .contents {
	margin: 0px 50px;
}

.myApplyList .contents a {
	color: var(--main-color-dark);
	background-color: #fff;
	border-radius: 30px;
	border: 1.5px solid var(--main-color-dark);
	font-weight: 600;
	padding: 7px 20px;


	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;

}

.myApplyList .contents a:hover {
	text-decoration: none;
	color: #fff;
	background-color: var(--main-color-dark);
}

.myApplyList .contents a:active {
	background-color: #fff;
	color: var(--main-color-dark);
}

.applyForWishBook p {
	margin-bottom: 0px;
}

.myApplyList thead {
	background-color: var(--main-color);
}

.myApplyList tr {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

.myApplyList tr:hover {
	background-color: var(--main-color-light);
}


.howToApply {
	padding: 50px 100px;
	display: flex;
	flex-flow: column;
}

.howToApply h1 {
	margin-bottom: 30px;
}

.howToApply h1::before {
	content: "| ";
	color: var(--main-color);
}

.howToApply .contents {
	padding: 0px 30px;
}

.howToApply b {
	color: var(--main-color-dark);
}

.howToApply pre {
	font-family: 'Noto Sans KR', sans-serif;
	white-space: pre-line;
	padding: 0px 30px;
}