body{
	background-color: #FFDCDC;		
    text-align: center;
}
.myPage{
    background-color: white;
        width: 90%;
        border: solid 1px #218d8d;
        padding: 5px;
        border-radius: 5px;
        margin: 25px;
	}
#profile_image {
    width: auto;
    margin: 35px 0px 0px 5%;
}

#profile_image img{
    border: 1px #218d8d;
    width: 170px;
    height: 170px;
}

#profile_info {
    width:65%;
    text-align: left;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#profile_info input{
    font-size: 12px;
}

#profile_menu {
	width:100%;
}

#profile_menu .col-sm-5 a{
	text-align: center;
}
